################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/EjemploActualizacionGrilla/bin/Debug
/EjemploActualizacionGrilla/obj/Debug
/.vs/EjemploActualizacionGrilla
